<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>In the clouds bookshop</title>
</head>
<body>
    <h1>Orders:</h1>
    {% for order in orders %}
        <div>
            <p>
                <a href="/orders/{{order.order_id}}">{{order.order_id}}:</a>
                {{ order.order_date }}: {{ order.customer_name }} ordered {{order.quantity}} book(s). 
                Titles are:
                {% for title in order.book_title %}
                {{ title }},
                {% endfor %}
            </p>
        </div>
    {% endfor %}
</body>
</html>